$text-white: #fff;
$text-blue: #4d5e80;
$text-light-blue: #7d8fb3;
$text-gray: #f0f2f6;
$text-blue-60: #6b7a99;

$bg-white: #fff;
$bg-gray: #c3cad9;
$bg-orange: #ff6633;
$bg-red: #e62e7b;
$bg-purple: #8833ff;
$bg-light-gray: #f2f3f5;
