@import "@styles/index.scss";

.header {
  padding: vw(30) vw(30) vw(30) vw(36);
  background-color: $bg-white;
  overflow: hidden;
  border-bottom: 2px solid $bg-light-gray;
  &__container {
    display: flex;
    align-items: center;
  }
  &__nav {
    margin-left: vw(206);
  }
}

.logo {
  @include font(vw(18), 700);
  color: $text-blue;
}
